# Notebook for Homework 1

In [1]:
# Preliminary Codes -- DO NOT CHANGE ANYTHING IN THIS SECTION
import random, pickle
import numpy as np
xData = [100*random.random() for i in range(20)]
number = 5+random.randint(8,20)
fruit = 'apples'
day = 'Saturday'
string_4 = 'An alacritous abalone accelerates along an alarming aquatic ascent.'
string_5 = 'A                       large space was here.'
string_6 = 'ATCGTGCATGCTGAGTGGCGAGCGGCGGCCGTACGCTGTTACTTAAAACGTAGCTGTAAAAAAC\
            GCTGCTGATGCTGTGCATGTGACTAGCTGCATGTGTGACTGACTGCTGACGTACTGTACGTACG\
            ATGGTTCGTGCGATGCGCTTGACGTGTCGTAGTGCATGCTGCTAGCTGATCGATGTGTCGAGTC'
nDigits = 6
nPower = 3
List10 = ['apples','bananas','pears','pears','blueberries','apples','strawberries']
Student_IDs = [1,2,3,4,5]
Student_names = ['Jim','John','Jenna','Jamal','Jaden']
List12 = [1,2,3,4,5,6,7,8]

q1 = 'xxx'
q2 = 'XXX'
q3 = 'XXX'
q4 = 123
q5 = 'XXX'
q6 = 123
q7 = 'XXX'
q8 = 1.23
q8 = 'xxx'
q9 = 'xxx'
q10 = List10
q11 = 'xxx'
q12 = [1,2,3,4,5,6,7,8]

fnDat = 'Hwk1Data.pkl'
dataDict = {'xData':xData,'number':number,'fruit':fruit,'day':day,'string_4':string_4,
    'string_5':string_5,'string_6':string_6,'nDigits':nDigits,'nPower':nPower,
    'Student_IDs':Student_IDs,'Student_names':Student_names,'List10':List10,'List12':List12}
with open(fnDat, 'wb') as file:
    pickle.dump(dataDict, file)

def saveResults():
    fn = 'Hwk1Answers.pkl'
    answerDict = {'q1':q1,'q2':q2,'q3':q3,'q4':q4,'q5':q5,'q6':q6,'q7':q7,'q8':q8,
                 'q9':q9,'q10':q10,'q11':q11,'q12':q12}
    with open(fn, 'wb') as file:
        pickle.dump(answerDict, file)

    #Read and print 
    with open(fn, 'rb') as file:
        loaded_dict = pickle.load(file)
    
    print("Your answers so far are:")
    print(loaded_dict)

## Problem Set 1 - Basic Arithmetic and String Manipulation

In [2]:
# Q1 - Concatenate the following strings with a space inbetween them (do not change the name).
string_1 = 'Hello my name is'
name = 'Renzo'
q1 = string_1 + ' ' + name

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'XXX', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [3]:
# Q2 = Convert the following string to uppercase
string_2 = 'i would like to be uppercase'
q2 = string_2.upper()

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [4]:
# Q3 - use string formatting to construct the following string: 
#. "I bought [number] [fruit] on [day]." where:
#     [number] is replaced with the number value of the variable "number",
#     [fruit] is replaced with the string value of the variable "fruit",
#     [day] is replaced with the string value of the variable "day",
print(number)
print(fruit)
print(day)
q3 = f"I bought {number} {fruit} on {day}."

saveResults()

15
apples
Saturday
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [5]:
# Q4 - count the number of a's in the string "string_4"
print(string_4)
q4 = string_4.count('a')

saveResults()

An alacritous abalone accelerates along an alarming aquatic ascent.
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [6]:
# Q5 - Strip "string_5" to remove all spaces and return the result as 'q5'
print(string_5)
q5 = string_5.replace(' ','')

saveResults()

A                       large space was here.
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [7]:
# Q6 - How long is the string "string_6"?
q6 = len(string_6)

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [13]:
# Q7 - Write a STRING that contains the value of pi^[nPower]. 
# Use exponent form to the 3rd decimal point (e.g., 2.500e+00).
pi = np.pi
print(pi)
print(nDigits)
print(nPower)
q7 = f"{pi**nPower:.3e}"

saveResults()

3.141592653589793
6
3
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 45.77231830305168, 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

## Problem Set 2 - Iterables, Slicing, and Sets

In [12]:
# Q8 - Consider the numbers in the list "xData", and compute their average.
print(xData)
q8 = np.mean(xData)  # Change this to produce the average of the numbers in 'xData'

saveResults()

[81.26414910758969, 15.115311072979164, 70.62540292865435, 68.441923371283, 87.19511331305145, 21.987844580249284, 98.82173159978106, 2.000058332752297, 51.55663484795128, 72.17590292494619, 2.990626864164614, 0.8982615049890841, 37.08725257155315, 61.82430238554443, 47.65783000329806, 80.9149752039393, 38.465806150303806, 45.22425951690294, 20.60409304587165, 10.594886735228792]
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 45.77231830305168, 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [14]:
# Q9 - What's the last entry in the list "xData".  Get this by slicing the list.
print(xData)
q9 = xData[-1]

saveResults()

[81.26414910758969, 15.115311072979164, 70.62540292865435, 68.441923371283, 87.19511331305145, 21.987844580249284, 98.82173159978106, 2.000058332752297, 51.55663484795128, 72.17590292494619, 2.990626864164614, 0.8982615049890841, 37.08725257155315, 61.82430238554443, 47.65783000329806, 80.9149752039393, 38.465806150303806, 45.22425951690294, 20.60409304587165, 10.594886735228792]
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 45.77231830305168, 'q9': 10.594886735228792, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [15]:
# Q10 - Convert between lists and sets to remove duplicate entries from the list "List10"
print(List10)
q10 = list(set(List10))

saveResults()

['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries']
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 45.77231830305168, 'q9': 10.594886735228792, 'q10': ['pears', 'bananas', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [16]:
# Q11 - Combine the lists 'Student_IDs' and 'Student_names' into a dictionary keyed by the IDs. 
# i.e. Create a dictionary with pairs of { ID : student name }
print(Student_IDs)
print(Student_names)
q11 = dict(zip(Student_IDs, Student_names))

saveResults()

[1, 2, 3, 4, 5]
['Jim', 'John', 'Jenna', 'Jamal', 'Jaden']
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 45.77231830305168, 'q9': 10.594886735228792, 'q10': ['pears', 'bananas', 'blueberries', 'apples', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [17]:
# Q12 - Slice to get every other entry in the list 'List12'
print(List12)
q12 = List12[::2]

saveResults()

[1, 2, 3, 4, 5, 6, 7, 8]
Your answers so far are:
{'q1': 'Hello my name is Renzo', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 15 apples on Saturday.', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 45.77231830305168, 'q9': 10.594886735228792, 'q10': ['pears', 'bananas', 'blueberries', 'apples', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 3, 5, 7]}